<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <h1 class="text__center font__lightWeight pt-5 pb-5">Welcome to {{CompanyName}} YAP account</h1>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-12 px-5">
        <a href=""  style="color: inherit; text-decoration: none">
            <div class="jumbotron Jumbotron__medium" style="background-color: whitesmoke">
                <h4 class="text__center font__lightWeight"><b>Add Payroll Module</b></h4><br>
                <h4 class="text__center font__lightWeight">You can create sub accounts for employees on company
                    payroll</h4>
                <h4 class="text__center font__lightWeight">You can quickly transfer to employee payroll</h4>
                <h4 class="text__center font__lightWeight">You agree to pay AED 100 monthly for this module</h4>
            </div>
        </a>    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-12 px-5">
        <a href="" style="color: inherit; text-decoration: none">
            <div class="jumbotron Jumbotron__medium" style="background-color: whitesmoke">
                <h4 class="text__center font__lightWeight"><b>Add Expense Module</b></h4><br>
                <h4 class="text__center font__lightWeight">You can create expense accounts for a company employee</h4>
                <h4 class="text__center font__lightWeight">You can quickly transfer to all employee expense account</h4>
                <h4 class="text__center font__lightWeight">You agree to pay AED 100 monthly for this module</h4>
            </div>
        </a>    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-12 px-5">
        <div class="jumbotron Jumbotron__medium" style="background-color: whitesmoke">
            <h4 class="text__center font__lightWeight">Sample Image comes here</h4>

        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-12 px-5">
        <div class="jumbotron Jumbotron__medium" style="background-color: whitesmoke">
            <h4 class="text__center font__lightWeight">Sample image comes here</h4>
        </div>
    </div>
</div>


<div></div>