<div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-12">
            <div ng-include="'components/common/sidebar.html'"></div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 text-center px-5 pt-5">
            <div class="row">
                <div class="col-sm pb-2">
                    <h4 class="font__lightWeight">
                        Hi {{userName}} , update your preferences so we can choose better options for you.
                    </h4>
                </div>
            </div>
            <div class="jumbotron">
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <form>
                                <div class="form-group">
                                    <label>Number of people in house</label>
                                    <select class="full_width form-control"
                                            ng-model="$ctrl.dependent.people" ng-options="x for x in people">
                                        <option value="" selected>Select one</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm">
                            <form>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Size of house</label>
                                    <select class="full_width form-control"
                                            ng-model="$ctrl.dependent.houseSize" ng-options="x for x in houseSize">
                                        <option value="" selected>Select one</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm">
                            <form>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Gender preference</label>
                                    <select class="full_width form-control"
                                            ng-model="$ctrl.dependent.genders" ng-options="x for x in genders">
                                        <option value="" selected>Select one</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <form>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Religion preference</label>
                                    <select class="full_width form-control"
                                            ng-model="$ctrl.dependent.religion" ng-options="x for x in religion">
                                        <option value="" selected> Select one</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm">
                            <form>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Age preference</label>
                                    <select class="full_width form-control"
                                            ng-model="$ctrl.dependent.Age" ng-options="x for x in Age">
                                        <option value="" selected>Select one</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm">
                            <form>
                                <div class="form-group">
                                    <label>Salary </label>
                                    <select class="full_width form-control"
                                            ng-model="$ctrl.dependent.salary" ng-options="x for x in salary">
                                        <option value="" selected>Select one</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <form>
                                <div class="form-group">
                                    <label>Duration </label>
                                    <select class="full_width form-control"
                                            ng-model="$ctrl.dependent.gender" ng-options="x for x in duration">
                                        <option value="" selected>Select one</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row pb-3 pt-3">
                        <div class="col-sm">
                            <div class="form-group">
                                <input type="checkbox"> Cook
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group">
                                <input type="checkbox"> Security
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group">
                                <input type="checkbox"> Driver
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group">
                                <input type="checkbox"> Baby sitter
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group">
                                <input type="checkbox"> Other
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm">
                            <form action="">
                                <div class="form-group">
                                    <label>Any additional information ?</label>
                                    <textarea class="form-control" rows="3"></textarea>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="alert alert-info" role="alert">

                                <div class="form-check">

                                    <input type="checkbox" class="form-check-input">
                                    <label class="form-check-label">
                                        <span class="pl-2 pr-2"><i class="fas fa-lock"></i> </span> I agree to the terms
                                        and
                                        condition
                                        by www.maida.com</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <button style="height: 3rem;" type="button" class=" btn btn-primary btn-lg btn-block">Save
                                Changes
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
