<div class="container-fluid form-group">
    <div class="row" style="letter-spacing: 5px">
        <div class="col-12 px-5 py-5">
            <h1 class="display-4 text__center">
                Hi. <span class="w3-animate-fading">Welcome To Maida</span>
            </h1>
            <h3 class="font__lightWeight text__center">
                Your one stop solution to Hiring domestic help
            </h3>
        </div>
    </div>
    <div class="row px-5 py-5 text__center">
        <div class="col-3">
            <img src="../../assets/img/cleaner.jpg" style="height: 10rem; width: auto" alt="">
            <figcaption class="font__lightWeight">Helper</figcaption>
        </div>
        <div class="col-3">

            <img src="../../assets/img/cook.png" style="height: 10rem; width: auto" alt="">
            <figcaption class="font__lightWeight">Cook</figcaption>
        </div>
        <div class="col-3">
            <img src="../../assets/img/driver.png" style="height: 10rem; width: auto" alt="">
            <figcaption class="font__lightWeight">Drivers</figcaption>
        </div>
        <div class="col-3">
            <img src="../../assets/img/nurse.png" style="height: 10rem; width: auto" alt="">
            <figcaption class="font__lightWeight">Nurses</figcaption>
        </div>
    </div>
    <div class="row" style="letter-spacing: 2px">
        <div class="col-12 px-5 py-5">
            <h1 class="display-4 text__center">
                Why us <span class="w3-animate-right"> ?</span>
            </h1>
        </div>
        <div class="col-4 text__center">

            <h2 class="font__lightWeight">
                    <span>
                <i class="far fa-check-circle font__lightWeight icon__blue"></i>
            </span>
                No crime record
            </h2>
        </div>
        <div class="col-4 text__center">
            <h2 class="font__lightWeight">
                    <span>
                <i class="far fa-check-circle font__lightWeight icon__blue"></i>
            </span>
                Health certificate
            </h2>
        </div>
        <div class="col-4 text__center">
            <h2 class="font__lightWeight">
                    <span>
                <i class="far fa-check-circle font__lightWeight icon__blue"></i>
            </span>
                Duration contract
            </h2>
        </div>
        <div class="col-12 text__center pt-5">
            <h4 class="font__lightWeight">
                Let us do all the hard work. We will make sure the helpers you hire are up to the mark.
                So you don't have to worry about their crime history , health or duration issues.
                We can also arrange a mutually agreed duration contract so none of the parties have to look for
                hiring/employments again and again
            </h4>
        </div>
    </div>
    <div class="row " style="letter-spacing: 2px">
        <div class="col-12 px-5 py-5">
            <h1 class="display-4 text__center">Let's get in touch?</h1>
        </div>
        <div class="col-12 px-5 py-5">
            <div class="jumbotron">
                <div class="col-6">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Your name</label>
                            <input type="text" class="form-control" id="exampleInputEmail1"
                                   aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                    </form>
                </div>
                <div class="col-6">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control"
                                   aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                    </form>
                </div>
                <div class="col-12">
                    <form action="">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1"> Write to us and we'll get back to you.</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </form>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>