<!--******************-->
<!--STEP 0 -->
<!--******************-->

<div ng-show="$ctrl.step==0" class="pt-3">
    <div class="container-fluid form-group">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10  align-self-center">
                <div class="container-fluid py-3 pl-5">
                    <div class="row">
                        <div class="col-lg-7 col-sm-12">
                            <form name="companyEmailForm" ng-submit="$ctrl.step1()">
                                <h1 class="display-4 ">
                                    JOIN THE PEOPLE PAYING NETWORK
                                </h1>
                                <div class="row">
                                    <div class="col-lg-3 col-sm-12">
                                        <button type="submit" class="flat__button float-right">
                                            {{ButtonText}}
                                        </button>
                                    </div>
                                    <div class="col-lg-9 col-sm-12">
                                        <div class="form-group">
                                            <input name="myEmail" ng-model="$ctrl.company.myEmail" type="text"
                                                   class="form-control float-left"
                                                   placeholder="ENTER YOUR EMAIL ADDRESS">
                                        </div>
                                        <div ng-show="companyEmailForm.$submitted">
                                            <p style="color:red" ng-show="ErrorMessage" ng-cloak> {{ErrorMessage}}</p>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="col-lg-5 col-sm-12">
                            <img style="width: 50%; height: auto; filter: brightness(110%)"
                                 src="../../bower_components/html5-boilerplate/dist/img2.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>

<!--******************-->
<!--STEP 2 Company Name -->
<!--******************-->
<form name="companyNameForm" ng-submit="$ctrl.step2()">
    <div ng-show="$ctrl.step==2">
        <div class="jumbotron px-5" style="margin-bottom: 0; background-color: transparent">
            <div class="container">
                <a href="" class="pr-4 Business__Stepper">Mobile Verification</a>
                <a href="" class="pr-4 Business__Stepper">Password</a>
                <a href="" class="pr-4 Business__Stepper">About You</a>
                <a href="" class="pr-4 Business__Stepper" style="text-decoration: underline;"><b>About your Company</b></a>
            </div>
        </div>

        <div class="container px-5" style="bottom: 0;">
            <div class="row">
                <div class="col">
                    <h4 class="h1 display-4"> Business onboarding</h4>
                    <div>
                        <h5 class="font__lightWeight">
                            <li style="list-style: none;" class="pb-3">
                                <i class="Tick__icon--color fas fa-check-circle"></i> {{$ctrl.company.myEmail}}
                            </li>

                        </h5>
                    </div>
                </div>
                <div class="col">
                    <div class="jumbotron jumbotron-fluid" style="background-color: #F8F8F8; position:relative;">
                        <div class="container">
                            <h4 class="h4 font__lightWeight">What is your company name?</h4><br>
                            <input name="companyName" class="form-control mb-2" type="text"
                                   ng-model="$ctrl.company.companyName"
                                   placeholder="ABC technology">
                            <button type="button" class="flat__button btn-sm" ng-click="$ctrl.gotToStep(0)">
                                Back
                            </button>
                            <button type="submit" class="flat__button btn-sm">
                                Next step
                            </button>
                            <p style="color:red">{{ErrorMessage}}</p>
                        </div>
                        <p class="Jumbotron__bottom--text">Already have an account? <a href="">Sign
                            in</a></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!--******************-->
<!--STEP 3 Personal Information-->
<!--******************-->
<form name="personalInfoForm" ng-submit="$ctrl.step3()">
    <div ng-show="$ctrl.step==3">
        <div class="jumbotron px-5" style="margin-bottom: 0; background-color: transparent">
            <div class="container">

                <a href="" class="pr-4 Business__Stepper">Mobile Verification</a>
                <a href="" class="pr-4 Business__Stepper">Password</a>
                <a href="" class="pr-4 Business__Stepper" style="text-decoration: underline;"><b>About you</b></a>
                <a href="" class="pr-4 Business__Stepper">About your company</a>
            </div>
        </div>
        <div class="container px-5" style="bottom: 0;">
            <div class="row">
                <div class="col">
                    <h4 class="h1 display-4"> Business onboarding</h4>
                    <div>
                        <h5 class="font__lightWeight">
                            <li style="list-style: none;" class="pb-3">
                                <i class="Tick__icon--color fas fa-check-circle"></i> {{$ctrl.company.myEmail}}
                            </li>
                            <li style="list-style: none;" class="pb-3">
                                <i class="Tick__icon--color fas fa-check-circle"></i> {{$ctrl.company.companyName}}
                            </li>

                        </h5>
                    </div>
                </div>
                <div class="col">
                    <div class="jumbotron jumbotron-fluid" style="background-color: #F8F8F8; position:relative;">
                        <div class="container">
                            <h4 class="h4 font__lightWeight">What is your name?</h4><br>
                            <input class="form-control mb-2" type="text" ng-model="$ctrl.company.firstName"
                                   placeholder="first name" name="firstName">
                            <input class="form-control mb-2" type="text" ng-model="$ctrl.company.lastName"
                                   placeholder="last name" name="lastName">
                            <p style="color:red">{{ErrorMessage}}</p>
                            <button type="button" class="flat__button btn-sm" ng-click="$ctrl.gotToStep(2)">
                                Back
                            </button>
                            <button type="submit" class="flat__button btn-sm">Next
                                step
                            </button>
                        </div>
                        <p class="Jumbotron__bottom--text">Already have an account? <a
                                ng-click="$ctrl.directTo__SignIn()"
                                href="">Sign
                            in</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!--******************-->
<!--STEP 4 Password-->
<!--******************-->
<form name="passwordForm" ng-submit="$ctrl.step4()">
    <div ng-show="$ctrl.step==4">
        <div class="jumbotron px-5" style="margin-bottom: 0; background-color: transparent">
            <div class="container">
                <a href="" class="pr-4 Business__Stepper">Mobile Verification</a>
                <a href="" class="pr-4 Business__Stepper" style="text-decoration: underline;"><b>Password</b></a>
                <a href="" class="pr-4 Business__Stepper">About you</a>
                <a href="" class="pr-4 Business__Stepper">About your Company</a>
            </div>
        </div>

        <div class="container px-5" style="bottom: 0;">
            <div class="row">
                <div class="col">
                    <h4 class="h1 display-4"> Business onboarding</h4>
                    <h5 class="font__lightWeight">
                        <li style="list-style: none;" class="pb-3">
                            <i class="Tick__icon--color fas fa-check-circle"></i> {{$ctrl.company.myEmail}}
                        </li>
                        <li style="list-style: none;" class="pb-3">
                            <i class="Tick__icon--color fas fa-check-circle"></i> {{$ctrl.company.companyName}}
                        </li>
                        <li style="list-style: none;" class="pb-3">
                            <i class="Tick__icon--color fas fa-check-circle"></i> {{$ctrl.company.firstName + ' ' +
                            $ctrl.company.lastName}}
                        </li>
                    </h5>
                </div>
                <div class="col">
                    <div class="jumbotron jumbotron-fluid" style="background-color: #F8F8F8; position:relative;">
                        <div class="container">
                            <h4 class="h4 font__lightWeight">Create your password</h4><br>
                            <input class="form-control mb-2" type="password" ng-model="$ctrl.company.myPassword"
                                   placeholder="Enter your password"
                                   name="password">
                            <input class="form-control mb-2" name="cpassword" type="password"
                                   ng-model="$ctrl.company.confirmPassword"
                                   placeholder="Re-enter your password">
                            <p style="color:red" ng-show="ErrorMessage" ng-cloak>{{ErrorMessage}}</p>
                            <button type="button" class="flat__button btn-sm" ng-click="$ctrl.gotToStep(3)">
                                Back
                            </button>
                            <button type="submit" class="flat__button btn-sm">Next
                                step
                            </button>
                        </div>
                        <p class="Jumbotron__bottom--text">Already have an account? <a
                                ng-click="$ctrl.directTo__SignIn()"
                                href="">Sign
                            in</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!--******************-->
<!--STEP 5 Phone Number-->
<!--******************-->
<form name="numberForm" ng-submit="$ctrl.step5()">
    <div ng-show="$ctrl.step==5">
        <div class="jumbotron px-5" style="margin-bottom: 0; background-color: transparent">
            <div class="container">
                <a href="" class="pr-4 Business__Stepper" style="text-decoration: underline;"><b>Mobile
                    Verification</b></a>
                <a href="" class="pr-4 Business__Stepper">Password</a>
                <a href="" class="pr-4 Business__Stepper">About You</a>
                <a href="" class="pr-4 Business__Stepper">About your Company</a>
            </div>
        </div>

        <div class="container px-5" style="bottom: 0;">
            <div class="row">
                <div class="col">
                    <h4 class="h1 display-4"> Business onboarding</h4>
                    <div>
                        <h5 class="font__lightWeight">
                            <li style="list-style: none;" class="pb-3">
                                <i class="Tick__icon--color fas fa-check-circle"></i> {{$ctrl.company.myEmail}}
                            </li>
                            <li style="list-style: none;" class="pb-3">
                                <i class="Tick__icon--color fas fa-check-circle"></i> {{$ctrl.company.companyName}}
                            </li>
                            <li style="list-style: none;" class="pb-3">
                                <i class="Tick__icon--color fas fa-check-circle"></i> {{$ctrl.company.firstName + ' ' +
                                $ctrl.company.lastName}}
                            </li>
                            <li style="list-style: none;" class="pb-3">
                                <i class="Tick__icon--color fas fa-check-circle"></i> Password: ******
                            </li>
                        </h5>
                    </div>
                </div>
                <div class="col">
                    <div class="jumbotron jumbotron-fluid" style="background-color: #F8F8F8; position:relative;">
                        <div class="container">
                            <h4 class="h4" class="font__lightWeight">
                                What is your phone number?
                            </h4><br>
                            <input class="form-control mb-2" type="text" ng-model="$ctrl.company.mobileNo"
                                   id="mobileNumber" name="mobileNumber">
                            </br>
                            <p style="color:red" ng-show="ErrorMessage" ng-cloak> {{ErrorMessage}}</p>
                            <button type="button" class="flat__button btn-sm" ng-click="$ctrl.gotToStep(4)">
                                Back
                            </button>
                            <button type="submit" class="flat__button btn-sm">Next
                                step
                            </button>
                        </div>
                        <p style=" position: absolute; bottom: 0; margin: 0 25%;">Already have an account?<a href="">Sign in</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!--******************-->
<!--STEP 6 OTP-->
<!--******************-->
<form name="otpForm" ng-submit="$ctrl.step6()">
    <div ng-show="$ctrl.step==6">
        <div class="jumbotron px-5" style="margin-bottom: 0; background-color: transparent">
            <div class="container">

                <a href="" class="pr-4 Business__Stepper" style="text-decoration: underline;"><b>Mobile
                    Verification</b></a>
                <a href="" class="pr-4 Business__Stepper">Password</a>
                <a href="" class="pr-4 Business__Stepper">About You</a>
                <a href="" class="pr-4 Business__Stepper">About your Company</a>
            </div>
        </div>

        <div class="container px-5" style="bottom: 0;">
            <div class="row">
                <div class="col">
                    <h4 class="h1 display-4"> Business onboarding</h4>
                    <h5 class="font__lightWeight">
                        <li style="list-style: none;" class="pb-3">
                            <i class="Tick__icon--color fas fa-check-circle"></i> {{$ctrl.company.myEmail}}
                        </li>
                        <li style="list-style: none;" class="pb-3">
                            <i class="Tick__icon--color fas fa-check-circle"></i> {{$ctrl.company.companyName}}
                        </li>
                        <li style="list-style: none;" class="pb-3">
                            <i class="Tick__icon--color fas fa-check-circle"></i> {{$ctrl.company.firstName + '' +
                            $ctrl.company.lastName}}
                        </li>
                        <li style="list-style: none;" class="pb-3">
                            <i class="Tick__icon--color fas fa-check-circle"></i> password: ******
                        </li>
                        <li style="list-style: none;" class="pb-3">
                            <i class="Tick__icon--color fas fa-check-circle"></i> {{formattedNumber}}
                        </li>
                    </h5>
                </div>
                <div class="col">
                    <div class="jumbotron jumbotron-fluid" style="background-color: #F8F8F8; position:relative;">
                        <div class="container">
                            <h4 class="h4 font__lightWeight">
                                Verify the code sent to
                                <b>{{formattedNumber}}</b></h4>
                            <br>
                            <label class="aria-label" style="color:#4d4dff;" for="otpNumber">
                                Enter the verification code
                            </label><br>
                            <input class="form-control mb-2" id="otpNumber" type="text" ng-model="$ctrl.company.OTP"
                                   placeholder="Please enter OTP here" name="otp">
                            <button type="submit" class="flat__button btn-sm">Next
                                step
                            </button>
                            <button ng-click="$ctrl.resendOTP()" type="button" class="flat__button btn-sm">
                                Resend OTP
                            </button>
                            <br>
                            <p style="color:red" ng-show="ErrorMessage" ng-cloak> {{ErrorMessage}}</p>
                        </div>
                        <p style=" position: absolute; bottom: 0; margin: 0 25%;">Already have an account? <a
                                href="">Sign
                            in</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<!--******************-->
<!--STEP Resumed Signup OTP-->
<!--******************-->
<form name="resumeOTPForm" ng-submit="$ctrl.step6(resumeOTPForm.$valid)">
    <div ng-show="$ctrl.step==21" class="pt-5">
        <div class="col-lg-6 col-sm-12 offset-lg-3">
            <div class="jumbotron jumbotron-fluid" style="background-color: #F8F8F8; position:relative;">
                <div class="container">
                    <h4 class="h4 font__lightWeight">
                        Verify the code sent at your registered mobile number</h4>
                    <br>
                    <label class="aria-label" style="color:#4d4dff;" for="otpNumber">
                        Enter the verification code
                    </label><br>
                    <input class="form-control mb-2" id="OPTNumber" type="text" ng-model="$ctrl.company.OTP"
                           placeholder="Please enter OTP here" required name="otp">
                    <div ng-show="resumeOTPForm.$submitted">
                        <span style="color:red"
                              ng-show="resumeOTPForm.otp.$error.required">OTP is required.</span>
                    </div>
                    <button type="submit" class="flat__button btn-sm">Next
                        step
                    </button>
                    <button ng-click="$ctrl.resendOTP()" type="button" class="flat__button btn-sm">
                        Resend OTP
                    </button>
                    <br>
                    <p ng-if="$ctrl.otpMsg==1" style="color:red;">A new OTP has been sent. Please check your
                        device.</p>
                    <p ng-if="$ctrl.otpMsg==2" style="color:red;">Something went wrong. Please try again.</p>
                    <p ng-if="OtpError" style="color:red;">{{OtpError}}</p>
                </div>
                <p style=" position: absolute; bottom: 0; margin: 0 25%;">Already have an account? <a
                        href="">Sign
                    in</a></p>
            </div>
        </div>
    </div>
</form>
