<div>
    <form name="SigninForm">
        <div ng-show="$ctrl.step==1" class="container-fluid">
            <div class="row">
                <div class="col-12 pl-5 pt-3 letter_spacing">
                    <h2 class="font__lightWeight">Welcome to MAIDA</h2>
                </div>
                <div class="col-5 pl-5 pt-2">
                    <div class="jumbotron pb-5" style="position: relative">
                        <h4 class=" pb-3"> Sign in to your account</h4>
                        <label>Enter your email address here</label>
                        <input name="myEmail" ng-model="$ctrl.login.username" placeholder="john@hotmail.com"
                               type="text" class="form-control mb-2">
                        <label>Enter your password here</label>
                        <input name="password" ng-model="$ctrl.login.password" placeholder="******"
                               type="password" class="mb-2 form-control">
                        <a class="float_right" href="">
                            Forgot Password?
                        </a>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="remember">
                                Remember me
                            </label>
                        </div>
                        <button type="button" class="btn flat__button mt-1" ng-click="$ctrl.Signin()">Sign in</button>
                        <p style="color: red" ng-if="error"> {{error}}</p>
                        <p class="Business__signIn__bottomText">
                            <a href="" ng-click="$ctrl.redirectTo__SignUp()">Create MAIDA account</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

