<div class="row">
    <div class="col-lg-2 col-md-4 col-sm-12">
        <div ng-include="'components/common/sidebar.html'"></div>
    </div>
    <div class="col-lg-10 col-md-4 col-sm-12" ng-show="$ctrl.step==1">
        <h1 class="display-4 py-3 pl-5 responsive__text--2x text__center">{{MainText}}</h1>
        <div class="container">
            <div class="row pb-4">
                <div class="col-sm">
                    <h5 class="font__lightWeight" for="input">Employee number</h5>
                    <input name="companyName" class="form-control mb-2" type="text"
                           ng-model="$ctrl.dependent.EmployeeNo"
                           placeholder="Employee number is assigned by the employer to the employee">
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <button type="button"
                            class="btn btn-lg btn-block flat__button"
                            ng-click="$ctrl.Verify_EmployeeNo()"
                            style="height: 3rem;">
                        {{ButtonText}}
                    </button>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-10 col-md-4 col-sm-12" ng-show="$ctrl.step==2">
        <h1 class="display-4 py-3 pl-5 responsive__text--2x text__center">{{MainText}}</h1>
        <div class="container">
            <div class="row pb-4">
                <div class="col-sm">
                    <h5 class="font__lightWeight" for="input"> Mobile number</h5>
                    <input class="form-control mb-2" type="text" ng-model="$ctrl.dependent.mobileNo"
                           id="mobileNumber" name="mobileNumber">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="button"
                            class="btn btn-lg btn-block flat__button"
                            ng-click="$ctrl.Verify_Employee_MobileNo()"
                            style="height: 3rem;">
                        {{ButtonText}}
                    </button>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-10 col-md-4 col-sm-12" ng-show="$ctrl.step==3">
        <h1 class="display-4 py-3 pl-5 responsive__text--2x text__center">{{MainText}}</h1>
        <div class="container">
            <div class="row pb-4">
                <div class="col-sm">
                    <h5 class="font__lightWeight"> Email address?</h5>
                    <input name="companyName" class="form-control mb-2" type="email" required
                           ng-model="$ctrl.dependent.emailAddress"
                           placeholder="Example@example.com">

                </div>
                <div class="col-sm ">
                    <h5 class="font__lightWeight"> Passport number?</h5>
                    <input name="companyName" class="form-control mb-2" type="text"
                           ng-model="$ctrl.dependent.PassportNumber"
                           placeholder="Enter your passport number">
                </div>
            </div>
            <div class="row pb-4">
                <div class="col-sm">
                    <h5 class="font__lightWeight" for="input"> Emirates ID?</h5>
                    <input name="companyName" class="form-control mb-2" type="text"
                           ng-model="$ctrl.dependent.EID"
                           placeholder="Enter your EID ">
                </div>
                <div class="col-sm">
                    <h5 class="font__lightWeight" for="input"> WPS ID?</h5>
                    <input name="companyName" class="form-control mb-2" type="text"
                           ng-model="$ctrl.dependent.WPS"
                           placeholder="Optional">
                </div>
            </div>

            <div class="row">
                <div class="col-sm">
                    <button type="button"
                            class="btn btn-lg btn-block flat__button"
                            ng-click="$ctrl.dependent_MoreInfo()"
                            style="height: 3rem;">Next thing
                    </button>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-10 col-md-4 col-sm-12" ng-show="$ctrl.step==4">
        <h1 class="display-4 py-3 pl-5 responsive__text--2x text__center">Hi there .. Let's add your dependents</h1>
        <div class="container">
            <div class="row pb-4">
                <div class="col-sm">
                    <h5 class="font__lightWeight" for="input"> Full name?</h5>
                    <input name="companyName" class="form-control mb-2" type="text"
                           ng-model="$ctrl.dependent.FullName"
                           placeholder="John Doe">
                </div>
                <div class="col-sm">
                    <h5 class="font__lightWeight" for="input"> Nationality</h5>
                    <input name="companyName" class="form-control mb-2" type="text"
                           ng-model="$ctrl.dependent.Nationality"
                           placeholder="ABC technology">
                </div>
            </div>
            <div class="row pb-4">
                <div class="col-sm">
                    <h5 class="font__lightWeight" for="input"> Date of birth?</h5>
                    <input name="companyName" class="form-control mb-2" type="date"
                           ng-model="$ctrl.dependent.DOB"
                           placeholder="ABC technology"
                    >
                </div>
                <div class="col-sm">
                    <h5 class="font__lightWeight" for="input"> Gender?</h5>
                    <select class="full_width form-control" name="asdasd"
                            ng-model="$ctrl.dependent.gender" ng-options="x for x in names">
                        <option value="" selected> Select your gender</option>
                    </select>
                    <br>
                </div>
            </div>
            <div class="row pb-4">
                <div class="col-sm">
                    <h5 class="font__lightWeight">Upload EID document</h5>
                    <!--<small>Upload EID document</small>-->
                    <input name="companyName" class="form-control mb-2" type="file" required
                           file-model="$ctrl.EmiratesId"
                           placeholder="Example@example.com">
                    <small style="color: darkred">
                        Please make sure that the EID is in PNG or JPEG. You can upload additional employee
                        documents from your dashboard
                    </small>
                    <br>
                    <small style="color: darkred">
                    </small>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="alert alert-success pb-3" ng-if="SuccessMessage">
                        <h5 class="font__lightWeight">Your sub account has been successfully created.</h5>
                    </div>
                    <div class="alert alert-danger alert-dismissible fade show" ng-if="FailiureMessage">
                        <h5 class="font__lightWeight">{{FailiureMessage}}</h5>
                    </div>

                    <button type="button"
                            class="btn btn-lg btn-block flat__button"
                            ng-click="$ctrl.Submit__DependentData()"
                            style="height: 3rem;">
                        {{SubmitButtonText}}
                    </button>
                    <button type="button"
                            class="btn btn-lg btn-block flat__button"
                            ng-click="$ctrl.Back_To_DependentFlow()"
                            style="height: 3rem;">
                        Go back
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>
