<div class="container pt-5 px-5">
    <div class="row">
        <div class="col-sm">
            <h1 class="display-4 text__center">A little about us..</h1>
            <h5 style="letter-spacing: 2px;" class="font__lightWeight text__center pb-5 pt-1">
                We consider your happiness to be our primary definition of success. We strive to deliver a thoroughly
                enjoyable customer experience, along with the best housekeepers on the planet. We are taking a
                high-tech, high-touch approach to housekeeping, and are revolutionizing an industry as old as dirt
                itself. Many companies will promise you the world and fall short when it comes time to deliver. We like
                to keep our promises, and we think our army of happy clients and proven track record speaks volumes.
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-sm pb-3">
            <h1 class=" text__center display-4">Where we offer</h1>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm text__center">
            <img src="../../assets/img/lahore.png" style="height: 7rem; width: auto;" alt="">
            <figcaption>Lahore</figcaption>
        </div>
        <div class="col-sm text__center">
            <img src="../../assets/img/karachi.png" style="height: 7rem; width: auto;" alt="">
            <figcaption>Karachi</figcaption>
        </div>
        <div class="col-sm text__center">
            <img src="../../assets/img/islamabad.png" style="height: 7rem; width: auto;" alt="">
            <figcaption>Islamabad</figcaption>
        </div>
        <div class="col-sm text__center">
            <img src="../../assets/img/multan.png" style="height: 7rem; width: auto;" alt="">
            <figcaption>Multan</figcaption>
        </div>
    </div>
</div>

<div class="container pt-5">
    <div class="row">
        <div class="col-sm pb-3">
            <h1 class="display-4 text__center">What we offer</h1>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm">
            <a class="None" href="" ng-click="$ctrl.direct_to_order()">
                <div class="jumbotron text__center"
                     style="background-image: url(../../assets/img/adult-doctor-girl-355934.jpg);
                     background-size: cover;">
                    <!--<i class="fas fa-user fa-5x"></i>-->
                    <h4 class="display-4 text__center mr-5" style="color: white;">Nurses</h4>
                </div>
            </a>
        </div>
        <div class="col-sm">
            <a class="None" href="" ng-click="$ctrl.direct_to_order()">
                <div class="jumbotron text__center"
                     style="background-image: url(../../assets/img/chef.jpg);
                     background-size: cover;
                     ">
                    <!--<i class="fas fa-utensils fa-5x"></i>-->
                    <h4 class="display-4 text__center mr-5" style="color: white;">Cooks</h4>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <a class="None" href="" ng-click="$ctrl.direct_to_order()">
                <div class="jumbotron text__center"
                     style="background-image: url(../../assets/img/driverHD.jpg);
                     background-size: cover;">
                    <!--<i class="fas fa-taxi fa-5x text__center"></i>-->
                    <h4 class="display-4 mr-5" style="color: white">Drivers</h4>
                </div>
            </a>
        </div>
        <div class="col-sm">
            <a class="None" href="" ng-click="$ctrl.direct_to_order()">
                <div>
                    <div class="jumbotron text__center"
                         style="background-image: url(../../assets/img/MaidNot.jpg);
                     background-size: cover;">
                        <!--<i class="fas fa-wheelchair fa-5x "></i>-->
                        <div class="override">
                            <h4 class="display-4 mr-5" style="color: white !important;">Nurses</h4>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>