<form name="SigninForm">
    <div ng-show="$ctrl.step==1" class="container-fluid">
        <div class="row">
            <div class="col-12 pl-5 pt-3 letter_spacing">
                <h2 class="font__lightWeight">WELCOME TO YAP FOR PARTNERS</h2>
            </div>
            <div class="col-5 pl-5 pt-2">
                <div class="jumbotron pb-5" style="position: relative">
                    <h4 class=" pb-3"> Sign up your account</h4>
                    <label>First name</label>
                    <input name="firstname" ng-model="$ctrl.signup.firstName" type="text" class="form-control mb-2">
                    <label>Last name</label>
                    <input name="lastname" ng-model="$ctrl.signup.lastName" type="text" class="form-control mb-2">
                    <label>Job title</label>
                    <input name="jobtitle" ng-model="$ctrl.signup.jobTitle" type="text" class="mb-2 form-control">
                    <label>Company name</label>
                    <input name="companyname" ng-model="$ctrl.signup.companyName" type="text" class="form-control mb-2">
                    <label>Industry</label>
                    <input name="industry" ng-model="$ctrl.signup.industry" type="text" class="mb-2 form-control">
                    <label>Number of branches</label>
                    <input name="branches" ng-model="$ctrl.signup.branchesCount" type="text" class="mb-2 form-control">
                    <label>Number of employees</label>
                    <input name="employees" ng-model="$ctrl.signup.employeesCount" type="text" class="mb-2 form-control">
                </div>
            </div>
            <div class="col-5 pl-5 pt-2">
                <div class="jumbotron pb-5" style="position: relative">
                    <label>Mobile number</label>
                    <input name="mobilenumber" ng-model="$ctrl.signup.mobile" type="text" class="mb-2 form-control">
                    <label>Email</label>
                    <input name="email" ng-model="$ctrl.signup.email" type="text" class="mb-2 form-control">
                    <label>Password</label>
                    <input name="password" ng-model="$ctrl.signup.password" type="password" class="mb-2 form-control">
                    <label>Confirm Password</label>
                    <input name="cpassword" ng-model="$ctrl.signup.cpassword" type="password" class="mb-2 form-control">
                    <a class="float_right" href="">
                        Forgot Password?
                    </a>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="remember">
                            Remember me
                        </label>
                    </div>
                    <button type="button" class="btn flat__button mt-1" ng-click="$ctrl.signup()">Sign up</button>
                    </br></br>
                    <p style="color:red;" ng-if="ErrorMessage">{{ErrorMessage}}</p>
                </div>
            </div>
        </div>
    </div>
</form>