<div class="row justify-content-center"
     style="background-image: url(../../assets/img/news.jpg);
                     background-size: auto;">
    <div class="col-12 text-center p-5">
        <h1 class="text__center display-4">No news right now :) </h1>
        <h1 class="text__center display-4">Come back later maybe?</h1>
        <h2 class="text__center font__lightWeight">Some fun stuff is going on. We'll notify you as soon as we're done :)</h2>
    </div>
</div>



