<div class="container pt-5">
    <div class="row px-5">
        <div class="col-12">
            <h1 class="font__lightWeight text__center pb-3">
                Welcome to MAIDA. Let's make your account.
            </h1>
            <h4 class="font__lightWeight text__center pb-3">
                Provide some information so we can get you the best offers
            </h4>
        </div>
        <div class="col-sm">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                           placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.
                    </small>
                </div>
            </form>
        </div>
        <div class="col-sm">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Select your city</label>
                    <select class="full_width form-control"
                            ng-model="$ctrl.dependent.gender" ng-options="x for x in names">
                        <option value="" selected>City</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
    <div class="row px-5">
        <div class="col-sm">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">First name</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp"
                           placeholder="Your first name">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.
                    </small>
                </div>
            </form>
        </div>
        <div class="col-sm">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Last name</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp"
                           placeholder="Your last name">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.
                    </small>
                </div>
            </form>
        </div>
    </div>
    <div class="row px-5">
        <div class="col-sm">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Phone number</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                           placeholder="Enter your phone number">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.
                    </small>
                </div>
            </form>
        </div>
        <div class="col-sm">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Password</label>
                    <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                           placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.
                    </small>
                </div>
            </form>
        </div>
    </div>
    <div class="row px-5">
        <div class="col-sm">
            <div class="alert alert-success" role="alert" ng-if="SuccessMessage">
                {{SuccessMessage}}
            </div>
        </div>
    </div>
    <div class="row px-5">
        <div class="col-sm">
            <button ng-click="$ctrl.SubmitData()" type="button" class="btn btn-outline-primary btn-lg btn-block mb-3">
                Submit
            </button>
        </div>
    </div>
</div>