<div ng-if="$root.currentUserSignedIn === false && me.enabler==1">
    <header class="header__settings" ng-cloak>
        <div class="container-fluid pt-2">
            <div class="row">
                <div class="col-2">
                    <h1 class="header__headings py-2 pl-5">
                        <a href="" ng-click="me.directTo__Signup()"><img src="../../assets/img/maida.png"
                                                                         height="60">
                        </a>
                    </h1>
                </div>
                <div class="col-10">
                    <ul class="nav justify-content-center py-4 pl-5" style="float: right">
                        <li class="nav-item pr-3">
                            <button type="button" ng-click="me.directTo__HomePage()"
                                    class="btn header__button--transparent header__button--bordered">
                                <b>About Maida</b>
                            </button>
                        </li>
                        <li class="nav-item pr-3 ">
                            <button type="button" ng-click="me.directTo__ComingSoon()"
                                    class="btn header__button--transparent header__button--bordered">
                                <b> News and Events</b>
                            </button>
                        </li>
                        <li class="nav-item pr-3">
                            <button type="button" ng-click="me.directTo__Partners()"
                                    class="btn header__button--transparent header__button--bordered">
                                <b> Services</b>
                            </button>
                        </li>
                        <li class="nav-item pr-3">
                            <button type="button" ng-click="me.directTo__SignIn()"
                                    class="btn header__button--transparent header__button--bordered">
                                <b> Sign in</b>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</div>

<div ng-if="$root.currentUserSignedIn === false && me.enabler==2">
    <header class="header__settings" ng-cloak>
        <p class="pr-2 header__Account--text" style="">
            <a href="" ng-click="me.direct_to_Individual()">I'm interested in a personal account</a>
        </p>
        <h1 class="header__headings py-3 pl-5">
            <a href="" ng-click="me.directTo__Signup()"><img src="../../assets/img/maida.png" height="60"></a>
        </h1>
        <h1 class="header__secondaryHeading pl-5">sign up for yap business</h1>
    </header>
</div>

<div ng-if="$root.currentUserSignedIn === false && me.enabler==3">
    <header class="header__settings" ng-cloak>
        <h1 class="header__headings py-3 pl-5">
            <a href="" ng-click="me.directTo__Signup()"><img src="../../assets/img/logo.png" height="30"></a>
        </h1>
        <h1 class="header__secondaryHeading pl-5">sign up for yap customer</h1>
    </header>
</div>

<div ng-if="$root.currentUserSignedIn === true">
    <header class="header__profile" ng-cloak>
        <div class="container-fluid pt-2">
            <div class="row">
                <div class="col-2">
                    <h1 class="header__headings py-2 pl-5">
                        <a href="" ng-click="me.directTo__Signup()"><img src="../../assets/img/maida.png"
                                                                         height="60"></a>
                    </h1>
                </div>
                <div class="col-10">
                    <ul class="nav justify-content-center py-4 pl-5" style="float: right">
                        <li class="nav-item pr-3 pt-2">
                            <h5 class="font__lightWeight">
                                {{userName}}
                            </h5>
                        </li>

                        <!--<li class="nav-item pr-3 ">-->
                        <!--<small>{{email}}</small>-->
                        <!--</li>--

                        <!--<li class="nav-item pr-3">-->
                        <!--<button class="btn flat__button" ng-click="me.directTo__CompanyDashboard()"><i-->
                        <!--class="fa fa-user" aria-hidden="true"></i> Dashboard</button>-->
                        <!--</li>-->
                        <!--<li class="nav-item pr-3">-->

                        </li>
                        <li class="nav-item pr-3 ">

                            <button ng-click="me.logout()" type="button" class="btn flat__button">
                                Log out
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</div>
