<!--<ul class="sidebar-nav" style="width: 16rem;">
    <li class="sidebar-brand">
        <div class="row">
            <div class="col-lg-12 col-md-6 col-sm-6">
                <img src="./../../assets/img/cc-dummy.png" class="img-fluid p-3" alt="Responsive image"
                     style="height: 10rem;width: auto;">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p style="font-size:12px;">Account Balance</p>
                <p>AED 00,000.00</p>
            </div>
        </div>
    </li>
    <li>
        <a href="" ng-click="me.directTo__CompanyDashboard()">
            <i class="fa fa-home" aria-hidden="true"></i> Dashboard
        </a>
    </li>
    <li>
        <a href="" ng-click="me.directTo__CompanyActivity()"><i class="fa fa-bolt" aria-hidden="true"></i> Activity</a>
    </li>
    <li>
        <a href="" ng-click="me.directTo__CompanyTransactions()"><i class="far fa-calendar"></i> Transactions</a>
    </li>
    <li>
        <a href="" ng-click="me.directTo__CompanyExpenseAccounts()"><i class="far fa-clock"></i>
            Expense Accounts</a>
    </li>
    <li ng-if="UserType=='COMPANY'">
        <a href="" ng-click="me.directTo__CompanyPayrollAccounts()"><i class="fa fa-users" aria-hidden="true"></i>
            Payroll Accounts</a>
    </li>
    <li>
        <a href="" ng-click="me.directTo__CompanyReports()"><i class="fa fa-flag" aria-hidden="true"></i> Reports</a>
    </li>
</ul>-->


<div class="Main__NavBar--div" style="width: 16rem; height: 100%;">
    <div class="Card__Div border col-lg-12 col-md-12 col-sm-12"
         style="background-color: ghostwhite; width: inherit; height: 16rem; overflow: hidden">
        <!--<img style="position: relative; height: 10rem; width: auto;" src="./../../assets/img/card4.png"-->
        <!--class="img-fluid  p-3"-->
        <!--alt="Responsive image">-->
        <!--<small style="color: whitesmoke; position: absolute; top: 115px; left: 100px">{{userName}}</small>-->
        <!--<p class="text-muted font__lightWeight responsive__text&#45;&#45;xsml" style="text-align: center">Account Balance</p>-->
        <!--<h4 class="font__lightWeight text__center ">AED 0000</h4>-->
    </div>

    <div class="SideBar__Navigation border"
         style="width: inherit; height: 27rem;">
        <ul style="list-style: none; letter-spacing: 1px;" class="pt-4 font__lightWeight testing">
            <a href="" ng-click="me.directTo__CompanyDashboard()">
                <li class="NavBar__items__border pl-1">
                    <i class="fab fa-windows"></i>
                    <b>Dashboard</b>
                </li>
            </a>
        </ul>
    </div>
</div>



