<div class="container pt-5" ng-if="$ctrl.step==1">

    <div class="row">
        <div class="col-12">
            <h1 class="font__lightWeight text__center pb-3">
                Tell us when you need it and we will contact you according to it.
            </h1>
        </div>

        <div class="col-sm">
            <a href="" ng-click="$ctrl.direct_to_form()" class="text__decoration--none">
                <div class="jumbotron text__center transparent_background border_grey"
                     style="background-image: url(../../assets/img/blur3.jpg);
                     background-size: cover;">
                    <h4 class="display-4 text__center text__white">Urgent requirement</h4>
                    <p class="font__lightWeight text__white"> We will contact you as soon as possible for this
                        hiring</p>
                    <small class="font__lightWeight text__white">Nominal fee might be charged</small>
                </div>
            </a>
        </div>
        <div class="col-sm ">
            <a href="" ng-click="$ctrl.direct_to_form()" class="text__decoration--none">
                <div class="jumbotron text__center transparent_background border_grey"
                     style="background-image: url(../../assets/img/blur2.jpg);
                     background-size: cover;">
                    <h4 class="display-4 text__center text__white">Normal requirement</h4>
                    <p class="font__lightWeight text__white"> We will contact you within a week</p>
                    <small class="font__lightWeight text__white">No additional fee would be charged</small>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <a href="" ng-click="$ctrl.direct_to_form()" class="text__decoration--none">
                <div class="jumbotron text__center transparent_background border_grey"
                     style="background-image: url(../../assets/img/blue1.jpg);
                     background-size: cover;">
                    <h4 class="display-4 text__center text__white">Just checking</h4>
                    <p class="font__lightWeight text__white"> We will not contact you.</p>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="container pt-5" ng-if="$ctrl.step==2">
    <div class="row px-5">
        <div class="col-12">
            <h1 class="font__lightWeight text__center pb-3">
                Provide us with your information and we will contact you with the most suitable options you need
            </h1>
        </div>
        <div class="col-sm">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                           placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.
                    </small>
                </div>
            </form>
        </div>
        <div class="col-sm">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Select your city</label>
                    <select class="full_width form-control"
                            ng-model="$ctrl.dependent.gender" ng-options="x for x in names">
                        <option value="" selected>City</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
    <div class="row px-5">
        <div class="col-sm">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">First name</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp"
                           placeholder="Your first name">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.
                    </small>
                </div>
            </form>
        </div>
        <div class="col-sm">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Last name</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp"
                           placeholder="Your last name">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.
                    </small>
                </div>
            </form>
        </div>
    </div>
    <div class="row px-5">
        <div class="col-sm">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Phone number</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                           placeholder="Enter your phone number">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.
                    </small>
                </div>
            </form>
        </div>
        <div class="col-sm">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Password</label>
                    <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                           placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.
                    </small>
                </div>
            </form>
        </div>
    </div>
    <div class="row px-5">
        <div class="col-sm">
            <div class="alert alert-success" role="alert" ng-if="SuccessMessage">
                {{SuccessMessage}}
            </div>
        </div>
    </div>
    <div class="row px-5">
        <div class="col-sm">
            <button ng-click="$ctrl.SubmitData()" type="button" class="btn btn-outline-primary btn-lg btn-block mb-3">
                Submit
            </button>
        </div>
    </div>
</div>