<!--******************-->
<!--STEP 0 -->
<!--******************-->
<div ng-show="$ctrl.step==0" class="pt-3">
    <div class="container-fluid form-group">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10  align-self-center">
                <div class="container-fluid py-3 pl-5">
                    <div class="row">
                        <div class="col-lg-7 col-sm-12">
                            <form name="companyEmailForm" ng-submit="$ctrl.step1(companyEmailForm.$valid)">
                                <h1 class="display-4 ">
                                    JOIN THE PEOPLE PAYING NETWORK - INDIVIDUALS</span>
                                </h1>
                                <div class="row">
                                    <div class="col-lg-3 col-sm-12">
                                        <button type="submit" class="flat__button float-right">
                                            {{ButtonText}}
                                        </button>
                                    </div>
                                    <div class="col-lg-9 col-sm-12">
                                        <div class="form-group">
                                            <input name="myEmail" ng-model="$ctrl.customer.myEmail" type="email"
                                                   ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"
                                                   class="form-control float-left" required
                                                   placeholder="ENTER YOUR EMAIL ADDRESS">
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="companyEmailForm.$submitted">
                                    <span style="color:red"
                                          ng-show="companyEmailForm.myEmail.$dirty && companyEmailForm.myEmail.$invalid">
                                        <p style="color:red" ng-show="companyEmailForm.myEmail.$error.pattern">Invalid email address.</p>
                                        <p style="color:red" ng-show="companyEmailForm.myEmail.$error.required">Email is required.</p>
                                        <p style="color:red" ng-show="companyEmailForm.myEmail.$error.email">Invalid email address.</p>
                                    </span>
                                    <p style="color:red" ng-show="ErrorMessage" ng-cloak> {{ErrorMessage}}</p>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-5 col-sm-12">
                            <img style="width: 50%; height: auto; filter: brightness(110%)"
                                 src="../../bower_components/html5-boilerplate/dist/img2.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>

<!--******************-->
<!--STEP 3 Personal Information-->
<!--******************-->
<form name="personalInfoForm" ng-submit="$ctrl.step3(personalInfoForm.$valid)">
    <div ng-show="$ctrl.step==2">
        <div class="jumbotron px-5" style="margin-bottom: 0; background-color: transparent">
            <div class="container">

                <a href="" class="pr-4 Business__Stepper">Mobile Verification</a>
                <a href="" class="pr-4 Business__Stepper">Password</a>
                <a href="" class="pr-4 Business__Stepper" style="text-decoration: underline;"><b>About you</b></a>
                <a href="" class="pr-4 Business__Stepper">About your company</a>
            </div>
        </div>
        <div class="container px-5" style="bottom: 0;">
            <div class="row">
                <div class="col">
                    <h4 class="h1 display-4"> Customer onboarding</h4>
                    <div>
                        <h5 class="font__lightWeight">
                            <li style="list-style: none;" class="pb-3">
                                <i class="Tick__icon--color fas fa-check-circle"></i> {{$ctrl.customer.myEmail}}
                            </li>

                        </h5>
                    </div>
                </div>
                <div class="col">
                    <div class="jumbotron jumbotron-fluid" style="background-color: #F8F8F8; position:relative;">
                        <div class="container">
                            <h4 class="h4 font__lightWeight">What is your name?</h4><br>
                            <input class="form-control mb-2" type="text" ng-model="$ctrl.customer.firstName"
                                   placeholder="first name" name="firstName" required ng-minlength="3"
                                   ng-maxlength="25">
                            <input class="form-control mb-2" type="text" ng-model="$ctrl.customer.lastName"
                                   placeholder="last name" name="lastName" required ng-minlength="3"
                                   ng-maxlength="25">
                            <div ng-show="personalInfoForm.$submitted">
                                <p style="color:red" ng-show="personalInfoForm.firstName.$error.required">First name
                                    is
                                    required.</p>
                                <p style="color:red" ng-show="personalInfoForm.firstName.$error.minlength"
                                   class="help-block">First name is too short.</p>
                                <p style="color:red" ng-show="personalInfoForm.firstName.$error.maxlength"
                                   class="help-block">First name is too long.</p>
                                <p style="color:red" ng-show="personalInfoForm.lastName.$error.required">Last name
                                    is
                                    required.</p>
                                <p style="color:red" ng-show="personalInfoForm.lastName.$error.minlength"
                                   class="help-block">Last name is too short.</p>
                                <p style="color:red" ng-show="personalInfoForm.lastName.$error.maxlength"
                                   class="help-block">Last name is too long.</p>
                            </div>
                            <button type="button" class="flat__button btn-sm" ng-click="$ctrl.gotToStep(2)">
                                Back
                            </button>
                            <button type="submit" class="flat__button btn-sm">Next
                                step
                            </button>
                        </div>
                        <p class="Jumbotron__bottom--text">Already have an account? <a
                                ng-click="$ctrl.directTo__SignIn()"
                                href="">Sign
                            in</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!--******************-->
<!--STEP 4 Password-->
<!--******************-->
<form name="passwordForm" ng-submit="$ctrl.step4(passwordForm.$valid)">
    <div ng-show="$ctrl.step==4">
        <div class="jumbotron px-5" style="margin-bottom: 0; background-color: transparent">
            <div class="container">
                <a href="" class="pr-4 Business__Stepper">Mobile Verification</a>
                <a href="" class="pr-4 Business__Stepper" style="text-decoration: underline;"><b>Password</b></a>
                <a href="" class="pr-4 Business__Stepper">About you</a>
                <a href="" class="pr-4 Business__Stepper">About your Company</a>
            </div>
        </div>

        <div class="container px-5" style="bottom: 0;">
            <div class="row">
                <div class="col">
                    <h4 class="h1 display-4"> Customer onboarding</h4>
                    <h5 class="font__lightWeight">
                        <li style="list-style: none;" class="pb-3">
                            <i class="Tick__icon--color fas fa-check-circle"></i> {{$ctrl.customer.myEmail}}
                        </li>
                        <li style="list-style: none;" class="pb-3">
                            <i class="Tick__icon--color fas fa-check-circle"></i> {{$ctrl.customer.firstName + ' ' +
                            $ctrl.customer.lastName}}
                        </li>
                    </h5>
                </div>
                <div class="col">
                    <div class="jumbotron jumbotron-fluid" style="background-color: #F8F8F8; position:relative;">
                        <div class="container">
                            <h4 class="h4 font__lightWeight">Create your password</h4><br>
                            <input class="form-control mb-2" type="password" ng-model="$ctrl.customer.myPassword"
                                   placeholder="Enter your password" required ng-minlength="6" ng-maxlength="16"
                                   name="password">
                            <input class="form-control mb-2" name="cpassword" type="password"
                                   ng-model="$ctrl.customer.confirmPassword"
                                   placeholder="Re-enter your password" required ng-minlength="6" ng-maxlength="20">
                            <div ng-show="passwordForm.$submitted">
                                <p style="color:red" ng-show="passwordForm.password.$error.required">Password is
                                    required.</p>
                                <p style="color:red" ng-show="passwordForm.password.$error.minlength"
                                   class="help-block">
                                    Password is too
                                    short.</p>
                                <p style="color:red" ng-show="passwordForm.password.$error.maxlength"
                                   class="help-block">
                                    Password is too
                                    long.</p>
                                <p style="color:red" ng-show="passwordForm.cpassword.$error.required">Confirm
                                    Password
                                    is required.</p>
                                <p style="color:red" ng-show="passwordForm.cpassword.$error.minlength"
                                   class="help-block">
                                    Confirm Password is too
                                    short.</p>
                                <p style="color:red" ng-show="passwordForm.cpassword.$error.maxlength"
                                   class="help-block">
                                    Confirm Password is too
                                    long.</p>
                                <p style="color:red" ng-show="ErrorMessage" ng-cloak>{{ErrorMessage}}</p>
                            </div>
                            <button type="button" class="flat__button btn-sm" ng-click="$ctrl.gotToStep(3)">
                                Back
                            </button>
                            <button type="submit" class="flat__button btn-sm">Next
                                step
                            </button>
                        </div>
                        <p class="Jumbotron__bottom--text">Already have an account? <a
                                ng-click="$ctrl.directTo__SignIn()"
                                href="">Sign
                            in</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!--******************-->
<!--STEP 5 Phone Number-->
<!--******************-->
<form name="numberForm" ng-submit="$ctrl.step5(numberForm.$valid)">
    <div ng-show="$ctrl.step==5">
        <div class="jumbotron px-5" style="margin-bottom: 0; background-color: transparent">
            <div class="container">
                <a href="" class="pr-4 Business__Stepper" style="text-decoration: underline;"><b>Mobile
                    Verification</b></a>
                <a href="" class="pr-4 Business__Stepper">Password</a>
                <a href="" class="pr-4 Business__Stepper">About You</a>
                <a href="" class="pr-4 Business__Stepper">About your Company</a>
            </div>
        </div>

        <div class="container px-5" style="bottom: 0;">
            <div class="row">
                <div class="col">
                    <h4 class="h1 display-4"> Customer onboarding</h4>
                    <div>
                        <h5 class="font__lightWeight">
                            <li style="list-style: none;" class="pb-3">
                                <i class="Tick__icon--color fas fa-check-circle"></i> {{$ctrl.customer.myEmail}}
                            </li>
                            <li style="list-style: none;" class="pb-3">
                                <i class="Tick__icon--color fas fa-check-circle"></i> {{$ctrl.customer.firstName + ' ' +
                                $ctrl.customer.lastName}}
                            </li>
                            <li style="list-style: none;" class="pb-3">
                                <i class="Tick__icon--color fas fa-check-circle"></i> Password: ******
                            </li>
                        </h5>
                    </div>
                </div>
                <div class="col">
                    <div class="jumbotron jumbotron-fluid" style="background-color: #F8F8F8; position:relative;">
                        <div class="container">
                            <h4 class="h4" class="font__lightWeight">
                                What is your phone number?
                            </h4><br>
                            <input class="form-control mb-2" type="text" ng-model="$ctrl.customer.mobileNo"
                                   required id="mobileNumber" name="mobileNumber">
                                <div ng-show="numberForm.$submitted">
                                <p style="color:red" ng-show="ErrorMessage" ng-cloak> {{ErrorMessage}}</p>
                            </div>
                            </br></br>
                            <button type="button" class="flat__button btn-sm" ng-click="$ctrl.gotToStep(4)">
                                Back
                            </button>
                            <button type="submit" class="flat__button btn-sm">Next
                                step
                            </button>
                        </div>
                        <p style=" position: absolute; bottom: 0; margin: 0 25%;">Already have an account? <a
                                href="">Sign
                            in</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!--******************-->
<!--STEP 6 OTP-->
<!--******************-->
<form name="otpForm" ng-submit="$ctrl.step6(otpForm.$valid)">
    <div ng-show="$ctrl.step==6">
        <div class="jumbotron px-5" style="margin-bottom: 0; background-color: transparent">
            <div class="container">

                <a href="" class="pr-4 Business__Stepper" style="text-decoration: underline;"><b>Mobile
                    Verification</b></a>
                <a href="" class="pr-4 Business__Stepper">Password</a>
                <a href="" class="pr-4 Business__Stepper">About You</a>
                <a href="" class="pr-4 Business__Stepper">About your Company</a>
            </div>
        </div>

        <div class="container px-5" style="bottom: 0;">
            <div class="row">
                <div class="col">
                    <h4 class="h1 display-4"> Customer onboarding</h4>
                    <h5 class="font__lightWeight">
                        <li style="list-style: none;" class="pb-3">
                            <i class="Tick__icon--color fas fa-check-circle"></i> {{$ctrl.customer.myEmail}}
                        </li>
                        <li style="list-style: none;" class="pb-3">
                            <i class="Tick__icon--color fas fa-check-circle"></i> {{$ctrl.customer.firstName + '' +
                            $ctrl.customer.lastName}}
                        </li>
                        <li style="list-style: none;" class="pb-3">
                            <i class="Tick__icon--color fas fa-check-circle"></i> password: ******
                        </li>
                        <li style="list-style: none;" class="pb-3">
                            <i class="Tick__icon--color fas fa-check-circle"></i> {{formattedNumber}}
                        </li>
                    </h5>
                </div>
                <div class="col">
                    <div class="jumbotron jumbotron-fluid" style="background-color: #F8F8F8; position:relative;">
                        <div class="container">
                            <h4 class="h4 font__lightWeight">
                                Verify the code sent to
                                <b>{{formattedNumber}}</b></h4>
                            <br>
                            <label class="aria-label" style="color:#4d4dff;" for="otpNumber">
                                Enter the verification code
                            </label><br>
                            <input class="form-control mb-2" id="otpNumber" type="text" ng-model="$ctrl.customer.OTP"
                                   placeholder="Please enter OTP here" required name="otp">
                            <div ng-show="otpForm.$submitted">
                                    <span style="color:red"
                                          ng-show="otpForm.otp.$error.required">OTP is required.</span>
                            </div>
                            <button type="submit" class="flat__button btn-sm">Next
                                step
                            </button>
                            <button ng-click="$ctrl.resendOTP()" type="button" class="flat__button btn-sm">
                                Resend OTP
                            </button>
                            <br>
                            <p ng-if="$ctrl.otpMsg==1" style="color:red;">A new OTP has been sent. Please check your
                                device.</p>
                            <p ng-if="$ctrl.otpMsg==2" style="color:red;">Something went wrong. Please try again.</p>
                            <p ng-if="OtpError" style="color:red;">{{OtpError}}</p>
                        </div>
                        <p style=" position: absolute; bottom: 0; margin: 0 25%;">Already have an account? <a
                                href="">Sign
                            in</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<!--************************-->
<!--Document uploading-->
<!--************************-->
<form name="otpForm" ng-submit="$ctrl.step7(otpForm.$valid)">
    <div ng-show="$ctrl.step==7">
        <div class="row company-verification">
            <div class="col-lg-2 col-md-4 col-sm-12">
                <div ng-include="'components/common/sidebar.html'"></div>
            </div>
            <div class="col-lg-10 col-md-8 col-sm-12 p-5">
                <div class="row  text-center">
                    <div class="col-12  text-center">
                        <h4 class="text-center font__lightWeight">Document requirements: We just need your trade
                            license to finalize your verification meeting. But uploading the other existing documents
                            will be helpful for you and us later!</h4>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="card h-100">
                            <div class="card-body text-center">
                                <label class="btn btn-default btn-file">
                                    <i class="far fa-file fa-5x"></i>
                                    <input type="file" style="display: none;" file-model="$ctrl.selfieVideo"
                                           accept="application/pdf,application/msword,image/jpeg,image/pjpeg">
                                </label>
                                <p>SELFIE VIDEO</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card h-100">
                            <div class="card-body text-center">
                                <label class="btn btn-default btn-file">
                                    <i class="far fa-file fa-5x"></i>
                                    <input type="file" style="display: none;" file-model="$ctrl.passportFile"
                                           accept="application/pdf,application/msword,image/jpeg,image/pjpeg">
                                </label>
                                <p>PASSPORT OF OWNER</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card h-100">
                            <div class="card-body text-center">
                                <label class="btn btn-default btn-file">
                                    <i class="far fa-file fa-5x"></i>
                                    <input type="file" style="display: none;" file-model="$ctrl.emiratesIdFile"
                                           accept="application/pdf,application/msword,image/jpeg,image/pjpeg">
                                </label>
                                <p>EMIRATES ID OF OWNER</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <button type="button" class="btn mt-5 flat__button LargeButton"
                                ng-click="$ctrl.showUploadDocumentsConfirmationStep()">
                            {{UploadButtonText}}
                        </button>
                        <button type="button" class="btn flat__button mt-5 LargeButton"
                                ng-click="$ctrl.SkipToDashboard()">
                            Skip and continue to dashboard
                        </button>
                        <p style="color:red;" class="mt-3">{{message}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>

<!--************************-->
<!--Document confirmation-->
<!--************************-->
<form name="otpForm" ng-submit="$ctrl.step8(otpForm.$valid)">
    <div ng-show="$ctrl.step==8">
        <div class="col-lg-10 col-md-8 col-sm-12 p-5">
            <h4 class="text__center font__lightWeight">The following documents have been uploaded</h4><br>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <div ng-show="selfieVideo == true">
                                <img src="./../../assets/img/approve_document.png" height="75">
                            </div>
                            <div ng-show="selfieVideo == false">
                                <i class="far fa-file fa-5x"></i>
                            </div>
                            <p>SElFIE VIDEO</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <div ng-show="passportFileUploaded == true">
                                <img src="./../../assets/img/approve_document.png" height="75">
                            </div>
                            <div ng-show="passportFileUploaded == false">
                                <i class="far fa-file fa-5x"></i>
                            </div>
                            <p>PASSPORT OF OWNER</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <div ng-show="emiratesIdFileUploaded == true">
                                <img src="./../../assets/img/approve_document.png" height="75">
                            </div>
                            <div ng-show="emiratesIdFileUploaded == false">
                                <i class="far fa-file fa-5x"></i>
                            </div>
                            <p>EMIRATES ID OF OWNER</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
            </div>
            <div class="row">
                <div class="col text-center">
                    <button type="button" class="btn mt-5 flat__button LargeButton"
                            ng-click="$ctrl.SkipToDashboard()">
                        Continue to dashboard
                    </button>
                    <p style="color:red;" class="mt-3">{{message}}</p>
                </div>
            </div>
        </div>
    </div>
</form>

<!--******************-->
<!--STEP Resumed Signup OTP-->
<!--******************-->
<form name="resumeOTPForm" ng-submit="$ctrl.step6(resumeOTPForm.$valid)">
    <div ng-show="$ctrl.step==21" class="pt-5">
        <div class="col-lg-6 col-sm-12 offset-lg-3">
            <div class="jumbotron jumbotron-fluid" style="background-color: #F8F8F8; position:relative;">
                <div class="container">
                    <h4 class="h4 font__lightWeight">
                        Verify the code sent at your registered mobile number</h4>
                    <br>
                    <label class="aria-label" style="color:#4d4dff;" for="otpNumber">
                        Enter the verification code
                    </label><br>
                    <input class="form-control mb-2" id="OPTNumber" type="text" ng-model="$ctrl.company.OTP"
                           placeholder="Please enter OTP here" required name="otp">
                    <div ng-show="resumeOTPForm.$submitted">
                        <span style="color:red"
                              ng-show="resumeOTPForm.otp.$error.required">OTP is required.</span>
                    </div>
                    <button type="submit" class="flat__button btn-sm">Next
                        step
                    </button>
                    <button ng-click="$ctrl.resendOTP()" type="button" class="flat__button btn-sm">
                        Resend OTP
                    </button>
                    <br>
                    <p ng-if="$ctrl.otpMsg==1" style="color:red;">A new OTP has been sent. Please check your
                        device.</p>
                    <p ng-if="$ctrl.otpMsg==2" style="color:red;">Something went wrong. Please try again.</p>
                    <p ng-if="OtpError" style="color:red;">{{OtpError}}</p>
                </div>
                <p style=" position: absolute; bottom: 0; margin: 0 25%;">Already have an account? <a
                        href="">Sign
                    in</a></p>
            </div>
        </div>
    </div>
</form>
