<div class="row" ng-cloak>
    <div class="col-lg-2 col-md-4 col-sm-12">
        <div ng-include="'components/common/sidebar.html'"></div>
    </div>
    <div class="col-lg-10 col-md-4 col-sm-12" ng-show="$ctrl.step==1">
        <h1 class="display-4 py-3 pl-5 responsive__text--2x text__center">{{MainText}}</h1>
        <div class="container">
            <div class="row pb-2">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12" ng-repeat="x in UserData">
                    <a href="" style="text-decoration: none" ng-click="$ctrl.Goto_NextStep()">
                        <div class="jumbotron mr-2 text__center">
                            <h1 class="font__lightWeight text__center" id="{{$index}}">{{x.name}}</h1>
                        </div>
                    </a>
                </div>
            </div>
            <!--<div class="row">-->
                <!--<div class="col-12">-->
                    <!--<button type="button"-->
                            <!--class="btn btn-lg btn-block flat__button"-->
                            <!--ng-click="$ctrl.Verify_EmployeeNo()"-->
                            <!--style="height: 3rem;">-->
                        <!--Submit-->
                    <!--</button>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
    <div class="col-lg-10 col-md-4 col-sm-12" ng-show="$ctrl.step==2">
        <h1 class="display-4 py-3 pl-5 responsive__text--2x text__center">{{MainText}}</h1>
        <div class="container">
            <div class="row pb-4">
                <div class="col-sm">
                    <h3 class="font__lightWeight" for="input"> Mobile number</h3>
                    <label for="">Please enter the mobile number of the dependent</label><br>
                    <input class="form-control mb-2" type="text" ng-model="$ctrl.dependent.mobileNo"
                           id="mobileNumber" name="mobileNumber">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="button"
                            class="btn btn-lg btn-block flat__button"
                            ng-click="$ctrl.Verify_Employee_MobileNo()"
                            style="height: 3rem;">
                        {{ButtonText}}
                    </button>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-10 col-md-4 col-sm-12" ng-show="$ctrl.step==3">
        <h1 class="display-4 py-3 pl-5 responsive__text--2x text__center">{{MainText}}</h1>
        <div class="container">
            <div class="row pb-4">
                <div class="col-sm">
                    <h3 class="font__lightWeight" for="input">Email address</h3>
                    <label for="email">Please enter email address of the dependent</label>
                    <input class="form-control mb-2" type="text"
                           ng-model="$ctrl.dependent.emailAddress" name="mobileNumber">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="button"
                            class="btn btn-lg btn-block flat__button"
                            ng-click="$ctrl.Verify_Employee_Email()"
                            style="height: 3rem;">
                        {{ButtonText}}
                    </button>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-10 col-md-4 col-sm-12" ng-show="$ctrl.step==4">
        <h1 class="display-4 py-3 pl-5 responsive__text--2x text__center">{{MainText}}</h1>
        <div class="container">
            <div class="row pb-4">

                <div class="col-sm">
                    <h5 class="font__lightWeight" for="input"> Full name?</h5>
                    <input name="companyName" class="form-control mb-2" type="text"
                           ng-model="$ctrl.dependent.FullName"
                           placeholder="John Doe">
                </div>
            </div>
            <div class="row pb-4">
                <div class="col-sm ">
                    <h5 class="font__lightWeight"> Passport number?</h5>
                    <input name="companyName" class="form-control mb-2" type="text"
                           ng-model="$ctrl.dependent.PassportNumber"
                           placeholder="Enter your passport number">
                </div>
                <div class="col-sm">
                    <h5 class="font__lightWeight" for="input"> Nationality</h5>
                    <input name="companyName" class="form-control mb-2" type="text"
                           ng-model="$ctrl.dependent.Nationality"
                           placeholder="ABC technology">
                </div>
            </div>
            <div class="row pb-4">
                <div class="col-sm">
                    <h5 class="font__lightWeight" for="input"> Date of birth?</h5>
                    <input name="companyName" class="form-control mb-2" type="date"
                           ng-model="$ctrl.dependent.DOB"
                           placeholder="ABC technology">
                    <label style="color: red" ng-if="DOBvalidation">Enter a valid date of birth</label>


                </div>
                <div class="col-sm">
                    <h5 class="font__lightWeight" for="input"> Gender?</h5>
                    <select class="full_width form-control" name="asdasd"
                            ng-model="$ctrl.dependent.gender" ng-options="x for x in names">
                        <option value="" selected> Select your gender</option>
                    </select>
                    <br>
                </div>
            </div>
            <div class="row pb-4">
                <div class="col-sm">
                    <h5 class="font__lightWeight">Upload EID document</h5>
                    <!--<small>Upload EID document</small>-->
                    <input name="companyName" class="form-control mb-2" type="file" required
                           file-model="$ctrl.EmiratesId"
                           placeholder="Example@example.com">
                    <small style="color: darkred">
                        Please make sure that the EID is in PNG or JPEG. You can upload additional employee
                        documents from your dashboard
                    </small>
                    <br>
                    <small style="color: darkred">
                    </small>
                </div>
                <div class="col-sm">
                    <h5 class="font__lightWeight">Upload Passport document</h5>
                    <!--<small>Upload EID document</small>-->
                    <input name="companyName" class="form-control mb-2" type="file" required
                           file-model="$ctrl.Passport">
                    <small style="color: darkred">
                        Please make sure that the document is in PNG or JPEG.
                    </small>
                    <br>
                    <small style="color: darkred">
                    </small>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="alert alert-success pb-3" ng-if="SuccessMessage">
                        <h5 class="font__lightWeight">{{SuccessMessage}}</h5>
                    </div>
                    <div class="alert alert-danger alert-dismissible fade show" ng-show="FailiureMessage">
                        <h5 class="font__lightWeight">{{FailiureMessage}}</h5>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-sm">
                    <button type="button"
                            class="btn btn-lg btn-block flat__button"
                            ng-click="$ctrl.Submit__DependentData()"
                            style="height: 3rem;"> Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
