/*This file should be global styling file*/
/* app css stylesheet */

.btn-primary {
    border: 0;
    box-shadow: none;
    border-radius: 0;
    min-width: 7rem;
    height: 37px;
    background-color: #1B3F8B;
    color: white;
}

.btn-secondary {
    border: 0;
    box-shadow: none;
    border-radius: 0;
    min-width: 7rem;
    height: 37px;
    background-color: #eee !important;
    border-color: #eee !important;
    color: #777777 !important;
}

.header__profile {
    background-color: #ffffff;
    height: 5.5rem;
    color: darkslategrey;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #9999;
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li + li:before {
    content: "|";
    padding-right: 0.3em;
}

/*Sidebar Css*/

body {
    margin-bottom: 60px;
}

.container {
    height: 100%;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    /*position: absolute;*/
    top: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    border-right: 1px #999999 solid;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li p, .sidebar-nav li strong {
    text-indent: 0px;
    line-height: 20px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #333;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #46aaff;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    min-height: 220px;
    font-size: 18px;
    line-height: 60px;
    background: #e2e1e1;
    text-align: center;
    text-indent: 0px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.footer {
    position: absolute;
    text-align: center;
    height: 60px;
    background-color: #f5f5f5;
    left: 0;
    bottom: 0;
    width: 100%;
}

.color-teal {
    color: #46aaff;
}

.company-verification .col-lg-4, .company-verification .col-md-6{
    padding: 10px;
}